body { 
    font-family: 'Patrick Hand SC', arial;
    padding:50px 80px;
}
p {
    font-size: large;
}

ul{
    list-style-type: circle;
    padding-left: .5em;
    padding-bottom: .2em;
    margin-left: 2em;
}

.tabs {
  margin-top: 50px;
  margin-bottom:20px;
}

.tabs .tab {
  background: #ccc;
  padding: 5px;
}

.tabs .active {
  background: white;
  border: 1px solid black;
  border-bottom-width: 0;
}
table, td, th, tr  {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 5em;
    width: 60%;
}
tr{
}
td, th {
    border: 1px solid black;
    padding: .2em .7em;
}
.tab1_task{
    
}
.content .tab {
  display: none; 
}

.content .active {
  display: block;
}